[submodule "btcflower-nft"]
	path = btcflower-nft
	url = git@github.com:letmejustputthishere/btcflower-nft.git
[submodule "ethflower-nft-canister"]
	path = ethflower-nft-canister
	url = git@github.com:flowerpowerdao/ethflower-nft-canister.git
[submodule "icpflower-nft-canister"]
	path = icpflower-nft-canister
	url = git@github.com:flowerpowerdao/icpflower-nft-canister.git
